
.o-sidebar-closed {
  transform: translateX(-250px)
}

// add margins to main content block for L, XL screens
@media screen and (min-width: 1200px) {
  .o-mainContainer {
    max-width: 800px;
    margin-right: 10em;
  }
}
@media screen and (max-width: 600px) {
  .a-projectBar__item {
    flex: 100%;
    max-width: 100%;
  }
}
