@media screen and (min-width: 1500px) {
	.o-mainContainer {
		max-width: 950px;
		margin-right: 400px;
	}
}
@media screen and (min-width: 1200px) {
	.o-mainContainer {
		max-width: 800px;
		margin-left: 200px;
		margin-right: 250px;
	}
}
@media screen and (max-width: 920px) {
	.a-mainHeader__logo {
		margin-right: 1em;
	}

	.a-mainHeader__menuIcon {
		display: block;
	}

	.a-mainHeader__slogan,
	.o-sidebar {
		display: none;
	}

	.o-mainContainer {
		margin: auto;
		width: 90%;
	}

	.a-projectBar__item {
		flex: 45%;
		max-width: 45%;
		flex-direction: column;

		.a-projectBar__imgCaption {
			display: block;
			width: 100%;
			text-align: center;

			p {
				// display: none;
			}
		}
	}

	.m-aboutMe,
	.m-links {
		margin-bottom: 1em;
	}

	.a-aboutMe__content {
		width: 100%;
	}

	.-open {
		display: flex;
		position: absolute;
		width: 280px;
	}
}
@media screen and (min-width: 900px) {
	.sectionHeader {
		font-size: 1.5em;
	}

	.a-projectBar__imgCaption {
		font-size: 1.05em;
	}

	.a-aboutMe__content {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	.a-links__listItem {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 500px) {
	.o-globalContainer {
		min-width: 100%;
	}

	.m-projectBar__row {
		justify-content: center;
	}

	.a-projectBar__item {
		flex: 100%;
		max-width: 95%;
		justify-content: center;
	}

	.-open {
		width: 100%;
	}
}
